<!DOCTYPE HTML>
<html>
  <head>
    <title>Block Chain</title>
    <link rel="stylesheet" href="css/device_add2.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no
      initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <header>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar"><span></span></label>
      <nav>
        <div class="user_info">
          <div class="img-wrap">
            <img src="img/profile_face2.jpg" />
          </div>
          <div class="profile">
            <p class="username">Alexander Great</p>
            <p class="user_detail">Administrator</p>
            <img src="img/icon-setting.svg" class="icon-setting" />
          </div>
        </div>
        <div class="menu-container">
          <a href="./devices">Devices</a>
          <a href="#">Reservation</a>
          <a href="#">Users</a>
          <a href="./main">History</a>
        </div>
      </nav>
      <label for="menu-bar" class="overlay"></label>
    </header>

    <div class="content">
      <label for="device_name" class="input-1-label">Device Name</label>
      <input type="text" class="input-1" id="device_name" />
      <label for="device_purpose" class="input-1-label">Purpose of Use</label>
      <input type="text" class="input-1" id="device_purpose" />
      <button class="button-1" id="request">Request</button>
      <p class="input-1-label">Device Unique Number</p>
      <div class="device_unique_number" id="unique_number">
        1231232132131232112312321321312321123123213213123211231232132131232112312321321312321
      </div>
      <p class="input-1-label">Private Key</p>
      <div class="device_unique_number" id="private_key">
        12312321321312321123123213213123211231232132
      </div>
      <p class="input-1-label">Public Key</p>
      <div class="device_unique_number" id="public_key">
        12312321321312321123123213213123211231232132
      </div>
      <button class="button-1" id="register">Register</button>
    </div>
    <script>
      var temp = document.querySelector('#register');
      temp.addEventListener('click',function(){
        location.href="./devices";
      });
    </script>
  </body>
</html>
