<!DOCTYPE HTML>
<html>
  <head>
    <title>Block Chain</title>
    <link rel="stylesheet" href="css/signup.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no
      initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <p class="title">Register</p>
    <div class="input-username">
      <input type="text" id="username" placeholder="Username"/>
    </div>
    <div class="input-password">
      <input type="password" id="password" placeholder="Password"/>
    </div>
    <div class="input-retype">
      <input type="password" id="retype" placeholder="Re-Type"/>
    </div>
    <button id="valid_button" class="button-1">Check</button>
    <span class="line"></span>
    <button id="key-generator" class="button-1">Generate Secret Key</button>
    <p class="secret-key" style="color: white">
      Insert Secret Key Here
    </p>
  </body>
</html>
